.wrapper {
  position: relative;
  min-height: 260px;
  height: calc(100vh - var(--bs-modal-margin) * 2 - 160px);
  overflow-y: auto;

  :global {
    .ant-table {
      .ant-table-thead {
        top: 0;
        z-index: 5;
        position: sticky;
      }

      .ant-table-cell:first-child {
        padding-left: 24px;
      }

      .ant-table-cell:last-child {
        padding-right: 24px;
      }
    }
  }
}

.slider {
  --slider-rail-bg: var(--color-success-100);
  --slider-track-bg: var(--color-primary-400);
  --slider-value-bg: var(--color-primary-600);

  :global {
    .ant-slider-rail {
      overflow: hidden;
      border-radius: var(--ffi-slider-border-radius);

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: var(--current-value);
        background-color: var(--slider-track-bg);
      }
    }

    .ant-slider-track {
      transition: none;
      background-color: var(--slider-track-bg) !important;
    }

    .ant-slider-step {
      top: 0;
      overflow: hidden;
      height: var(--ffi-slider-height);
      border-radius: var(--ffi-slider-border-radius);
    }

    .ant-slider-dot {
      top: 0;
      width: 100%;
      height: 100%;
      border: none;
      border-radius: 0;
      inset-block-start: 0;
      transform: translateX(-100%) !important;
      background-color: var(--slider-value-bg);
    }

    .ant-slider-mark-text {
      display: none;
    }
  }
}
