.content {
  --header-margin-y: 32px;
  --content-item-gap: 24px;
  --section-header-padding-y: 12px;
  --section-header-spacer-y: 16px;

  :global {
    .section {
      margin-bottom: var(--content-item-gap);
    }

    .section-header {
      padding-top: var(--section-header-padding-y);
      padding-bottom: var(--section-header-padding-y);
      margin-bottom: var(--section-header-spacer-y);
    }

    .section-title {
      margin-bottom: 4px;
      font-size: 18px;
      font-weight: 600;
      line-height: 1.5;
    }

    .section-card {
      --bs-card-bg: #f9fafb;
      --bs-card-color: #667085;

      .decimal {
        font-size: 30px;
        font-weight: 600;

        > .ant-input {
          font-family: inherit;
          font-weight: inherit;
          line-height: inherit;
        }
      }

      .unit {
        font-size: 24px;
        font-weight: 600;
      }

      .countdown-item {
        min-width: 44px;
        text-align: center;
      }
    }

    .table-row {
      border-bottom: 1px solid var(--bs-border-color);

      &:not(.col) {
        display: table;
      }

      > .row {
        display: table;
        width: 100%;
        height: 100%;
      }
    }

    .table-cell {
      display: table-cell;
      padding: 16px 8px;
      vertical-align: middle;
      color: var(--bs-gray-900);

      &.th {
        color: var(--bs-gray-600);
      }
    }

    .table {
      --bs-table-color: var(--bs-gray-900);

      tr {
        > th,
        > td {
          padding: 16px 8px;
          vertical-align: middle;
        }

        > th {
          font-weight: normal;
          color: var(--bs-gray-600);
        }
      }
    }

    .progress-stacked,
    .progress-stacked > .progress {
      --bs-progress-height: 54px;
      --bs-progress-border-radius: 8px;
      --bs-progress-bar-bg: #83bf6e;
      --bs-progress-font-size: 15px;
    }

    .progress-stacked > .progress-stacked:not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    .progress-stacked > .progress-stacked ~ .progress:last-child > .progress-bar {
      border-top-right-radius: var(--bs-progress-border-radius);
      border-bottom-right-radius: var(--bs-progress-border-radius);
    }

    .progress-bar-striped {
      background-image: linear-gradient(
        -45deg,
        rgb(255 255 255 / 15%) 25%,
        transparent 25%,
        transparent 50%,
        rgb(255 255 255 / 15%) 50%,
        rgb(255 255 255 / 15%) 75%,
        transparent 75%,
        transparent
      );
    }

    .progress-bar-animated {
      animation: custom-strip 2s linear infinite;
    }

    // .progress-stacked > .progress-stacked:not(:first-child) {
    //   border-top-left-radius: 0;
    //   border-bottom-left-radius: 0;
    // }

    .progress-sector {
      --bs-progress-height: 60px;

      position: relative;
      overflow: visible;
      border: 3px solid var(--bs-gray-100);
      border-radius: var(--bs-progress-border-radius);

      .indicator {
        --indicator-bg: #83bf6e;
        --indicator-color: var(--bs-gray-600);

        position: absolute;
        left: 0;
        bottom: 100%;
        z-index: 10;
        will-change: transform;
        transform: translate(-50%, -100%);

        &.warning {
          --indicator-bg: var(--bs-warning);
          --indicator-color: var(--bs-warning);
        }

        &.success {
          --indicator-bg: #8e59ff;
        }

        .indicator-label {
          position: relative;
          z-index: 10;
          font-size: 14px;
          font-weight: 600;
          line-height: 1.4;
          text-align: center;
          white-space: nowrap;
          color: var(--indicator-color);
        }

        .indicator-caret {
          position: absolute;
          z-index: 1;
          top: 100%;
          left: 50%;
          width: 0;
          height: 0;
          margin-top: 4px;
          will-change: transform;
          border-style: solid;
          border-width: 10px 15px 0;
          transform: translateX(-50%);
          border-color: var(--indicator-bg) transparent transparent;
        }
      }

      .progress-warning {
        --bs-progress-bar-color: var(--bs-warning);
        --bs-progress-bar-bg: #fffaeb;
      }

      .progress-success {
        --bs-progress-bar-bg: #8e59ff;
      }
    }

    .reward-list {
      padding-left: 0;
      list-style: none;
    }

    .reward-item {
      --dot-color: var(--color-primary-600);

      position: relative;
      padding-left: 20px;
    }

    .reward-dot {
      position: absolute;
      top: 6px;
      left: 0;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: var(--dot-color);
      border: 2px solid var(--dot-color);

      &-circle {
        background-color: transparent;
      }
    }

    .reward-label {
      margin-bottom: 4px;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.5;
      color: #475467;
    }

    .reward-text {
      font-size: 16px;
      line-height: 1.5;
    }

    .text-decimal {
      font-size: 24px;
      font-weight: 600;
      line-height: 1.333;
    }
  }
}

.tabs {
  :global {
    .nav {
      --bs-nav-link-padding-x: 12px;
      --bs-nav-link-padding-y: 8px;
      --bs-nav-link-font-size: 14px;
      --bs-nav-link-font-weight: 600;
      --bs-nav-link-color: var(--bs-gray-500);
      --bs-nav-link-hover-color: var(--bs-gray-700);
    }

    .nav-pills {
      --bs-nav-pills-border-radius: 6px;
      --bs-nav-pills-link-active-color: var(--bs-gray-700);
      --bs-nav-pills-link-active-bg: var(--bs-gray-50);
    }
  }
}

.content > * {
  margin-bottom: var(--content-item-gap);
}

.sidebar {
  display: flex;
  flex-direction: column;
  row-gap: 24px;

  :global {
    .sider-title {
      margin-bottom: 8px;
      color: var(--bs-gray-900);
      font-size: 18px;
      font-weight: 600;
    }
  }
}

@media screen and (min-width: 992px) {
  .content {
    --section-header-padding-y: 20px;
    --section-header-spacer-y: 24px;

    > :not(:first-child) {
      padding-left: var(--content-item-gap);
    }

    > :not(:last-child) {
      padding-right: var(--content-item-gap);
    }

    :global {
      .section-header {
        position: sticky;
        top: var(--header-height, 0);
        z-index: 100;
        background-color: #fff;
      }

      .section-card {
        position: sticky;
        top: calc(var(--header-height) + var(--header-margin-y));
        z-index: 50;
      }
    }
  }

  .tabs {
    width: 15%;

    :global {
      .nav {
        position: sticky;
        top: calc(var(--header-height) + var(--header-margin-y));
        z-index: 100;
        display: inline-block;
      }
    }
  }

  .sidebar {
    width: 33.125%;
  }
}

@media screen and (min-width: 1200px) {
  .content {
    --content-item-gap: 32px;
  }
}
