.section {
  --section-padding-y: 48px;
  --section-title-size: 24px;
  --section-summary-size: 16px;

  padding-top: var(--section-padding-y);
  padding-bottom: var(--section-padding-y);
  color: var(--section-color);
  background-color: var(--section-bg);

  &-tint {
    --section-bg: var(--color-primary-25);
  }

  .title {
    font-size: var(--section-title-size);
  }

  .summary {
    font-size: var(--section-summary-size);
  }
}

.banner {
  --section-bg: var(--color-primary-25);
  --section-color: var(--color-primary-900);

  :global {
    .badge-primary {
      --bs-badge-color: var(--section-color);
    }
  }
}

.grid {
  --grid-icon-size: 48px;
  --grid-title-size: 20px;

  :global {
    .card {
      --bs-card-color: var(--bs-gray-600);
      --bs-card-cap-font-size: var(--grid-title-size);
      --bs-card-border-width: 0;
      --bs-card-border-radius: 0;
    }

    .card-icon {
      width: var(--grid-icon-size);
      height: var(--grid-icon-size);
    }

    .card-title {
      margin-top: 20px;
      margin-bottom: 8px;
    }
  }
}

@media screen and (min-width: 768px) {
  .section {
    --section-padding-y: 64px;
    --section-title-size: 30px;
    --section-summary-size: 18px;
  }
}

@media screen and (min-width: 992px) {
  .section {
    --section-padding-y: 80px;
    --section-title-size: 36px;
    --section-summary-size: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    --section-padding-y: 96px;
  }
}
